{% extends 'index.html' %}
{% load static %}
{% block content %}
<nav>
  <ul>
    <a href="/" class="logo"> <img src="{% static 'img/logo.jpg' %}" alt=""> </a>
    <li> <a href="/">Home</a> </li>
    {% if user.is_authenticated %}
    <li> <a href="{% url "logout" %}">Logout</a> </li>
    <li> <a href="{% url 'Dashboard' %}">Dashboard</a> </li>
    {% if request.user.is_admin %}
    <li> <a href="/registerhotel">Hotel Sign Up</a> </li>
    {% endif %}
    {% else %}
    <li> <a href="{% url 'login_url' %}">Login</a> </li>
    <li> <a href="/register">Sign Up</a> </li>
    <li> <a href="/accounts/login">Hotel Login</a> </li>
    {% endif %}
    <li> <a href="#">About us</a> </li>
  </ul>
</nav>
<div class="" style="height:70px">

</div>
<header style="height:30vh;">
<center>
  <h1 style="margin-top:100px;">{{restaurant.restaurant_name}}</h1>
</center>

</header>
<div class="" style="height:30vh">

</div>
<div class="container" style="">
<div class="row">
  <div class="col-md-8  amazing">
    {% for i in restaurantphotos %}
    {% ifequal i.ptype "NORMAL" %}
    <img src="/media/{{i.photos}}" alt="" width="100%">
    {% endifequal %}
    {% endfor %}
    <br>
    <br>
    <h3>Description : </h3>
    <p>{{restaurant.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="b">

    </div>
    <h3>Delicacies : </h3><br>
    {% for i in restaurantphotos %}
    {% ifequal i.ptype "FOOD" %}
    <img src="/media/{{i.photos}}" alt="" width="100%">
    {% endifequal %}
    {% endfor %}
    <br><br>
    <div class="b">

    </div>
    <h3>Rating : </h3><br>
    <div class="" style="width:200px">Rating By Food : </div>{{restaurant.ratingbyfood}} <ion-icon name="star-outline"></ion-icon><br>
    <div class="" style="width:200px">Rating By Staff: </div>{{restaurant.ratingbystaff}} <ion-icon name="star-outline"></ion-icon><br>
    <div class="" style="width:200px">Rating By Hygiene: </div>{{restaurant.ratingbyhygiene}} <ion-icon name="star-outline"></ion-icon><br>
    <div class="" style="width:200px">Rating By Location: </div>{{restaurant.ratingbylocation}} <ion-icon name="star-outline"></ion-icon><br>
<br><br>
<h3>Reviews : </h3><br>
{% if reviews %}
{% for j in reviews %}
<div class="review" style="
font-family:'Poppins';
width: 100%;
padding: 30px;
margin-top: 20px;
border: 2px solid #0002;
border-radius:5px;
">
  <h4>{{j.review_title}}</h4><br>
  <div class=""></div>{{j.ratingbyfood}} <ion-icon name="star-outline"></ion-icon><br>
  <p>{{j.review}}</p>
   - {{j.username.first_name}} {{j.username.last_name}}
</div>
{% endfor %}
{% else %}
<a class="btn btn-primary" href="/review/{{restaurant.restaurant_id}}">ADD REVIEW</a>
{% endif %}
  <br><br>
</div>
<div class="col-md-4" style="font-family:'Poppins';padding:10px">
  <center>
  <h3>Options : </h3><br>
  <p>Click to select.</p>
  {% for i in bestoptions %}
  <div class="options" onclick="selected(this,{% for j in i %}{{j}}{% endfor %})">
    {% for j in i %}
    Table for {{j}}&nbsp<br>
    {% endfor %}
  </div>
  {% endfor %}
  <a href=""class="btn" onclick="Confirm(this)" style="width:70%;color:#fff;">
    <div class="clean-btn">
    CONFIRM
  </div>
  </a>
  </center>
</div>
</div>
</div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static '/img/logo.jpg' %}" style="box-shadow:2px 3px 5px #0005" alt="" height="50px">
      <br><br>
      <p style="color:#cdcdcd; font-size:13px">
        Restaurant reservation website . Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br>
      <p style="color:#fcfcfc; font-size:20px;letter-spacing:5px;">FOLLOW US
      </p>
      <div class="">

         <a href="#" style="margin:10px 10px 10px 0px;"><ion-icon style="font-size:25px; color:#cdcdcd;"name="logo-facebook"></ion-icon></a>
         <a href="#" style="margin:10px;"><ion-icon style="font-size:25px; color:#cdcdcd;"name="logo-instagram"></ion-icon></a>
         <a href="#" style="margin:10px;"><ion-icon style="font-size:25px; color:#cdcdcd;"name="logo-twitter"></ion-icon></a>
        <a href="#" style="margin:10px;"><ion-icon style="font-size:25px; color:#cdcdcd;"name="logo-google-playstore"></ion-icon></a>
      </div>
    <br>

    </div>
    <div class="col-md-2">
      <h4 style="color:#fcfcfc; font-size:25px;">USEFUL LINKS</h4>
      <br>
      <a href="#" class="btn" style="color:#cdcdcd; ">ABOUT</a><br>
      <a href="#" class="btn" style="color:#cdcdcd; ">LOGIN</a><br>
      <a href="#" class="btn" style="color:#cdcdcd; ">SIGN UP</a><br>
    </div>
    <div class="col-md-4">
      <h4 style="color:#fcfcfc; font-size:25px;">CONTACT INFO</h4>
      <a class="btn" style="color:#cdcdcd; "><ion-icon style="transform:translateY(2px);" name="calculator-outline"></ion-icon>&nbsp&nbsp&nbsp +91 93820 38092</a><br>
      <a class="btn" style="color:#cdcdcd; "><ion-icon style="transform:translateY(2px);" name="mail-outline"></ion-icon>&nbsp&nbsp&nbsp contact@restaurante.com</a><br>
<br><br>
    <a href="{% url 'login_url' %}" class="btn" style="width:100%;color:#fff;">
      <div class="clean-btn">
      LOGIN
    </div>
    </a>
  </div>

  </div>
<div class="b" style="background:#fff3">

</div>
<div class="end">
  <a href="#">Terms and Conditions </a> | <a href="#">Privacy</a> | <a href="#">2020 &#169; Restaurante</a>
</div>
<br>
</div>
</footer>

{% endblock %}
{% block js %}

<script type="text/javascript">
  var selectedoption = "";
  function selected(e,value){
    e.classList.toggle('selectedoption');
    siblings = getSiblings(e)
    for(var i in siblings){
      if(siblings[i].classList.contains('selectedoption'))
        siblings[i].classList.remove('selectedoption');
  }
  selectedoption = value.toString();
  }

  function Confirm(e){
    e.href = "/confirm/" + "{{restaurant.restaurant_id}}" + "/" + "{{day}}" + "/{{start_time}}/{{end_time}}/" + '{{persons}}' + '/' + selectedoption;
  }
</script>
{% endblock %}
